# Ignore all
*

# Unignore all with extensions; ignore executables
!*.*

# ignore all dirs
*/
*/*
!test/*.cc
!test/makefile


ckpoint*
*.txt
*.o

Test*.cc
!Test_hmc.cc

.nfs*

run.sh
submit.sh
nohup.out
GFFA.ini
Makefile
makefile
